* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.interfaz {
width: 450px;
background-color: rgb(26, 70, 71);
padding: 30px;
margin: auto;
margin-top: 10px;

font-family: 'calibri';
color: rgb(255, 255, 255);

  border: 2px solid #083e4e;
  position: absolute;
}
body {
    width: 400px;
    background-image: url(/img/que-es-una-veterinaria.jpg);
    background-size: cover;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'arial';
    color: black;
    }
.controls{
    width: 200px;
    background-color: rgb(117, 170, 173);
    border-top-color: rgb(255, 255, 255);
    border-left-color: white;
    border-bottom-color: white ;
    padding: 5px;
    border-radius: 2px;
    border: 2px solid white;
    
}
.terminos{
    color: rgb(235, 63, 63);
    height: 20px;
}

.botons{
    height: 20px;
    bottom
}
.interfaz p{
    color: white;
    text-align: center;
    font-family: 'calibri';
    border: 2px;
    height: 20px;

}
